body{
  margin: 0px;
  background-color: rgb(248, 238, 238);
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

h2{
  background-color: rgb(131 167 245);
  box-shadow: 2px 2px #a9a9a9;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 100;
}

ul{
  list-style: none;
  padding: 0;
}

header {
  background-color: rgb(253, 249, 249);
  padding: 8px;
}
header p{
  text-align: center;
  margin: 0px;
  margin-bottom: 3px;
}

main{
  flex: 1;
}

.container{
  width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: white;
}

.notice {
  padding: 10px;
  border: solid 2px red;
}
p.warning{
  color: red;
  font-size: 18px;
}


footer{
  background-color: rgb(253, 249, 249);
  padding: 8px;
}
footer p{
  text-align: center;
  margin: 0px;
  margin-bottom: 3px;
}